	body{
	margin:0;
	padding: 0;
	background:  #f7f7f7;;
	}
	.head{
		height: 50px;
		background: #2d2d44;
		display: flex;
		min-width: px;
		justify-content: space-between;
	}

	.h0{
		position: absolute;
		color: white;
		font-size: 30px;
		display: flex;
		font-family: cursive,serif;
		margin-top: 3px;
		margin-left: 10px;
	}
	.obg{
		width: 600px;
		height: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	.aside{
		color: white;
		margin-right: 0px;
		margin: auto;
	}
	.green{
		height: 5px;
		background: #11f90d;
		width: auto;
		min-width: 200px
	}		
			
			
	.hol1{
		width: 40px;
		height: 40px;
		border:px solid black;
		margin-top: 10px;
		margin-right: 10px;
		float: right;
		display: block;
		background: transparent;
	}
	.d1{
		width: 30px;
		height: 2px;
		margin-left: 5px;
		margin-top: 10px;
		background: black;
		background: white
		
	}


	.hol1:hover .d1{
		transform: rotate(-45deg);
		margin-top: 15px;
		transition-duration: 0.2s;
		position: absolute;
	}
	.hol1:hove .d1{
		
		margin-top: px;
		
	}


	.d2{
		width: 30px;
		height: 2px;
		margin-left: 5px;
		margin-top: 5px;
		background: black;
		
		background: white
	}
	.hol1:hover .d2{
		display: none;
	}
	.d3{
		width: 30px;
		height: 2px;
		margin-left: 5px;
		margin-top: 5px;
		background: white
		
		
	}


	.hol1:hover .d3{
		transform: rotate(45deg);
		margin-top: 15px;
		transition-duration: 0.2s;
		position: absolute;

	}

	.d4{
		width: 150px;
		height: 80px;
		border:px solid black;
		margin-top: 40px;
		position: absolute;
		display: none;
	}
	.hol1:hover .d4{
		display: block;

	}

	.d5, .d6{
		width: 150px;
		height: 40px;
		background: #2d2d44;
		opacity: 0.9;
	}
	.d5:hover{
		opacity: 1
	}
	.d6:hover{
		opacity: 1
	}
	.d6{
		border-top: 1px solid #11f90d;
		height: 45px;
	}
	.d5{
		border-top:5px solid #11f90d;
	}
	.d{
		color: white;
		text-align: center;
		text-decoration: none;
		transform: translateY(5px);
	}
	.oz{
		font-size: 17px;
		margin-top: 9px
	}
	.oz1{
		font-size: 17px;
		margin-top: 12px;

	}
	.d5:hover .oz{
		transform: scale(1.02);
		opacity: 1
	}
	.d6:hover .oz1{
		transform: scale(1.02);
		opacity: 1
	}
	span{
		margin-top: 20px;
	}
	@media screen and (max-width: 880px) {
		.d4{
			margin-left: -110px;
		}
	}
	a.a1{
		text-decoration: none;
		color: white;
		float: right;
		font-size: 17px;
		height: 19px;
		padding-top: 12px;
		margin-right: 20px;
		padding-bottom: 9px;
		margin-top: 5px;
		font-weight: bolder;
		font-family: serif;
	}

	a.a1:hover{
		color: lightgray;
		transform: scale(1.0);
		font-family: inherit;
	}								
										/*header the and*/
	.zov{
		height: 800px;
	}
	.content{
		display: flex;
		max-width: 950px;
		max-height: 850px;
		border: 1px solid white;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		background: white;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
		overflow-y: scroll;
	}
	.oznayomlennya{
		width: 100%;
		height: 60px;
		border:px solid black;
		box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
		margin-top: 0px;
		text-align:center;
		display: block;
	}
	.ozn-h1{
		text-align: center;
		margin-top: 10px;
		font-family: sans-serif;
	}
	.information{
		width: 100%;
		height: 1000px;
		border:px solid black;
		position: relative;
		transform: translateY(0px);
	}
	.img-1{
		width: 150px;
		height: auto;
	}
	video{
		width: 100%;
		height: auto;
	}
	.a2{
		text-decoration: none;
		color: black;

	}
	.kurs{
		width: 300px;
		height: 18px;
		border: px solid black;
		margin-right: auto;
		margin-left: auto;
		padding: 10px;
		margin-top: 30px;
		background:  #00CD00;
	}
	.kurs:hover{
		box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
		color: white;
		transform: translateX(1) translateY(1);
	}
	@media screen and (max-width: 301px){
		.kurs{
			width: 250px;
		}
	}