		.hol1{
			width: 40px;
			height: 40px;
			border:px solid black;
			margin-top: 10px;
			margin-right: 10px;
			float: right;
			display: block;
			background: transparent;
		}
		.d1{
			width: 30px;
			height: 2px;
			margin-left: 5px;
			margin-top: 10px;
			background: black;
			background: white
			
		}

		
		.hol1:hover .d1{
			transform: rotate(-45deg);
			margin-top: 15px;
			transition-duration: 0.2s;
			position: absolute;
		}
		.hol1:hove .d1{
			
			margin-top: px;
			
		}


		.d2{
			width: 30px;
			height: 2px;
			margin-left: 5px;
			margin-top: 5px;
			background: black;
			
			background: white
		}
		.hol1:hover .d2{
			display: none;
		}
		.d3{
			width: 30px;
			height: 2px;
			margin-left: 5px;
			margin-top: 5px;
			background: white
			
			
		}


		.hol1:hover .d3{
			transform: rotate(45deg);
			margin-top: 15px;
			transition-duration: 0.2s;
			position: absolute;

		}

		.d4{
			width: 150px;
			height: 80px;
			border:px solid black;
			margin-top: 40px;
			position: absolute;
			display: none;
		}
		.hol1:hover .d4{
			display: block;

		}

		.d5, .d6{
			width: 150px;
			height: 40px;
			background: #2d2d44;
			opacity: 0.9;
		}
		.d5:hover{
			opacity: 1
		}
		.d6:hover{
			opacity: 1
		}
		.d6{
			border-top: 1px solid #11f90d;
			height: 45px;
		}
		.d5{
			border-top:5px solid #11f90d;
		}
		.d{
			color: white;
			text-align: center;
			text-decoration: none;
			transform: translateY(5px);
		}
		.oz{
			font-size: 17px;
			margin-top: 9px
		}
		.oz1{
			font-size: 17px;
			margin-top: 12px;

		}
		.d5:hover .oz{
			transform: scale(1.02);
			opacity: 1
		}
		.d6:hover .oz1{
			transform: scale(1.02);
			opacity: 1

		}
		span{
			margin-top: 20px;
		}



@media screen and (max-width: 880px) {
	.d4{
		margin-left: -110px;
	}


}


body{
	margin:0;
	padding: 0;
	background:  #f7f7f7;;
}
.head{
	height: 50px;
	background: #2d2d44;
	display: flex;
	min-width: 770px;
	justify-content: space-between;
}
@media screen and (max-width: 770px) {
	.cent-block{
		width: 500px;
		background: black
	}
}
.h0{
	position: absolute;
	color: white;
	font-size: 30px;
	display: flex;
	font-family: cursive,serif;
	margin-top: 3px;
	margin-left: 10px;
}
.obg{
	width: 600px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
.aside{
	color: white;
	margin-right: 0px;
	margin: auto;
}
.green{
	height: 5px;
	background: #11f90d;
	width: auto;
	min-width: 305px
}
a.a1{
	text-decoration: none;
	color: white;
	float: right;
	font-size: 17px;
	height: 19px;
	padding-top: 12px;
	margin-right: 20px;
	padding-bottom: 9px;
	margin-top: 5px;
	font-weight: bolder;
	font-family: serif;
}

a.a1:hover{
	color: lightgray;
	transform: scale(1.0);
	 font-family: inherit;
}
										/*header the and*/
.holovna{
	width: px;
	height: 1000px;
	border:px solid black;
	display: flex;
	margin:auto;
	margin-top: 10px;
}
.vnytr{
	width: 1300px;
	height: 1000px;
	border: px solid black;
	margin: auto;
	display: flex;
}
.left-block{
	width: 250px;
	height: 900px;
	border: px solid black;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	background: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4)
}
.exp{
	width: 150px;
	height: 150px;
	border: 1px solid black;
	margin-left:auto;
	margin-right: auto;

}
#img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.img{
	margin-bottom: 70px;
	width: 150px;
	height: 150px;
	padding:auto;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	margin-top: 25px;
}
.cent-block{
	
	width: 750px;
	height: 900px;
	border: px solid black;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	background: white;
	justify-content: space-between;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4)
}
.zag{
	margin-top: 80px;
	font-size: 25px;
	text-align: center;
}
.pidzag{
	width: 750px;
	height: 30px;
	margin-left: -750px;
	margin-right: auto;
	text-align: center;
}
.hteg{
	position: absolute;
	margin-top: 130px;
	margin-left: 330px;
	text-shadow: 2px 2px lightgray;
}
.osnovy{
	width: 750px;
	height: 60px;
	border:px solid black;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
	margin-top: 0px;
	text-align:center;
	display: block;
}
.osn{
	margin-top: 18px;
	font-size: 23px;

}
.script-block{
	position: absolute;
	margin-top: 160px;
	margin-left: 50px
}
.p-block{
	font-size: 21px;
	text-shadow: 0.2px 0.2px lightblue ;
	text-align: center;
}
.red{
	color: black;
	text-shadow: 0.1px 0.1px lightgray;
}
.right-block{
	width: 250px;
	height: 900px;
	border: px solid black;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	background: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4)
}
@media screen and (max-width: 1280px) {
	.left-block{
		display: none;
	}
	.right-block{
		display: none;
	}
}
.img{
	margin-bottom: 70px;
	width: 150px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	margin-top: 25px;
}
p.h1{
	font-size: 21px;
	text-align: center;
}
.div-menu{
	border: px solid black;
	width: 220px;
	height: 620px;
	position: absolute;
	margin-left: -35px;
	margin-top: -8px;
}

.div-menu12{
	border: px solid black;
	width: 220px;
	height: 620px;
	position: absolute;
	margin-left: -35px;
	margin-top: -8px;
}
.menu{
	border: px solid black;
	width: 220px;
	height: 32px;
	font-size: 20px;
	position: relative;
	text-align: center;
	padding-top: 4px;
	margin-left:  auto;
	margin-bottom: 3px;
	margin-right: auto;
	background:  #00CD00;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.3);
}

.menu:hover{
	animation-name: men;
	animation-duration: 0.2s;
	animation-iteration-count: 2;
	box-shadow: inset  0px -5px 0px 0px rgba(0,0,0,0.3);
	background-image: linear-gradient(#00CD00,yellow,#00CD00);
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
}
@keyframes men{
	70%{
		transform: translateX(10px);
	}
}

.img2{
	width: 150px;
	height: 150px;
	border: px solid black;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4)
}
.h1{
	font-size: 21px;
	text-align: center;
}
.menu2{
	border: px solid black;
	width: 220px;
	height: 32px;
	font-size: 20px;
	position: relative;
	text-align: center;
	padding-top: 4px;
	margin-left:  auto;
	margin-bottom: 3px;
	margin-right: auto;
	background:  #00CD00;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.3);
}
@keyframes men2 {
	70%{
		transform: translateX(-10px);
	}
}
.menu2:hover{
	animation-name: men2;
	animation-duration: 0.2s;
	animation-iteration-count: 2;
	box-shadow: inset  0px -5px 0px 0px rgba(0,0,0,0.3);
	background-image: linear-gradient(#00CD00,yellow,#00CD00);
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
}
button{

	outline: none;
	border: none
}
.div-menu2{
	border: px solid black;
	width: 220px;
	height: 620px;
	position: absolute;
	margin-left: -35px;
	margin-top:18px;
}
#bot{
	width: 400px;
	height: 40px;
	font-size: 18px;
	font-family: serif;
	margin-left: 130px;
	margin-top: 50px;
	background: #00CD00;
	border-radius: 2px
}
#bot:hover{
	color: rgba(0,0,0,0.9);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	transform: scale(1.05);
}
